
package html

import "github.com/adriein/hastypal/internal/web"

templ Footer(dto *web.BookingDTO) {
	<footer class="footer">
		<div class="footer__content">
			<button type="button" class="footer__back" aria-label="Back">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none">
					<path d="M10 3L5 8L10 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</button>
			<button form="bookingForm" type="submit" class="footer__continue">Continue</button>
		</div>
		<span class="footer__powered">
			<img src="/ui/static/images/hastypal_crab.png" alt="Hastypal logo"/>
			Powered by hastypal
		</span>
	</footer>
}
