package html

import "github.com/adriein/hastypal/internal/web"

templ Step1(services []*web.ServiceDTO) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Hastypal</title>
			<link rel="icon" type="image/x-icon" href="/ui/static/images/golden_helmet.ico"/>
			<link rel="stylesheet" href="/ui/static/css/main.css"/>
		</head>
		<body>
			<main>
				<nav>Sticky Navbar</nav>
				<div class="step">
					<p class="step__indicator">Step 1</p>
					<h2 class="step__title">Choose a Service</h2>
					<p class="step__instruction">Select the service you'd like to book.</p>
					<ul class="list-unstyled step__service_container">
						for _, service := range services {
							<li class="card card--service">
								{ service.Name }
							</li>
						}
					</ul>
				</div>
				<footer>Sticky Footer</footer>
			</main>
		</body>
	</html>
}
