package html

import "github.com/adriein/hastypal/internal/web"

templ Step1(services []*web.ServiceDTO) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Hastypal</title>
			<link rel="icon" type="image/x-icon" href="/ui/static/images/golden_helmet.ico"/>
			<link rel="stylesheet" href="/ui/static/css/main.css"/>
		</head>
		<body>
			<main>
				<nav>Sticky Navbar</nav>
				<div class="step">
					<div class="step__header">
						<p class="step__indicator">Step 1</p>
						<h2 class="step__title">Choose a Service</h2>
						<p class="step__instruction">Select the service you'd like to book.</p>
					</div>
					<ul class="list-unstyled step__service_container">
						for _, service := range services {
							<button type="button" class="step__service_option">
								<span class="step__service_option__indicator">
								<svg width="8" height="7" viewBox="0 0 8 7" fill="none">
									<path d="M1 3.5L3 5.5L7 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
								<span class="step__service_option__body">
									<span class="step__service_option__name">{ service.Name }</span>
									<span class="step__service_option__meta">{ service.Duration } · { service.Description }</span>
								</span>
								<span class="step__service_option__price">{ service.Price } { service.Currency }</span>
							</button>
						}
					</ul>
				</div>
				<footer>Sticky Footer</footer>
			</main>
		</body>
	</html>
}
